DD_API_KEY=XXXXXXXXXX
#DD_LOG_LEVEL=DEBUG
DD_LOGS_STDOUT=yes
SD_BACKEND=docker
DD_PROCESS_AGENT_ENABLED=true
DD_APM_ENABLED=true
DD_LOGS_ENABLED=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=xxx
POSTGRES_PASSWORD=xxx
